/*=========================================== =============
      Custom
=========================================================*/
*
{box-sizing: border-box}

.custom-container{
  max-width: 1140px;
  margin: auto;
  padding: 0 1rem;
}
.custom-height{
  min-height: 700px;
}
.center-center{
  display: grid;
  place-items: center;
}

.custom-padding{
  padding-top: 5rem;
}

/*=========================================== =============
       Section Color
=========================================================*/
.menu-item{
  color: $purple;
}
.purple-section{
  background-color: $purple;
  color: $white;
}
.grey-section{
  background-color: $grey-light;
}
.green-section{
  background-color: $green;
}
.pink-section{
  background-color:$pink;
}
.white-text{
  color:$white
}
.primary-color{
  color: $purple;
}

/*=========================================== =============
        Heading and Description
=========================================================*/
.heading{
  color:$purple;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 40px;
  text-shadow: -3px 2px 5px rgba(0, 0, 0, 0.09);
  text-transform: capitalize;
}
.description{
  color: $black;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

/*=========================================== =============
        Line Height
=========================================================*/
.line-height{
  line-height: 2;
}
.space{
  margin-bottom: 3rem;
}

/*=========================================== =============
       Alignment
=========================================================*/
.center-align{
  text-align: center;
}
.left-align{
  text-align: left;
}
.section-align-center{
  display: grid;
  place-items: center;
}
.section-align-baseline{
  display: grid;
  place-items: baseline;
}

/*=========================================== =============
       Image
=========================================================*/
.img-fluid{
  max-width: 100%;
  height: auto;
}
.img-height{
  max-height: 125px;
}
/*=========================================== =============
     Icons
=========================================================*/
.card-arrow-icon{
  .circle{
    background-color:rgb(256,256,256,0.7);
    border-radius: 50%;
  }
}

/*=========================================== =============
       Button
=========================================================*/
.round-btn{
  color: $purple;
  background-color: $white;
  text-transform: capitalize;
  letter-spacing: 0.5px;

  border-width: 3px 3px 3px 3px;
  border-color: $purple;
}
.round-btn:hover{
  color: $white;
  background-color: $purple;
}

/*=========================================== =============
      Card
=========================================================*/
.grey-section{
  .card-radius{
    border-radius: 16px;
  }
}

.list-height{
  .v-list-item{
    min-height: 32px;
  }
  .v-list-item__content{
    padding: 0;
  }
}




