/*=========================================== =============
      Custom
=========================================================*/
*
{box-sizing: border-box}

.custom-container{
  max-width: 1140px;
  margin: auto;
  padding: 0 1rem;
}
.custom-height{
  min-height: 700px;
}
.center-center{
  display: grid;
  place-items: center;
}

.custom-padding{
  padding-top: 5rem;
}

/*=========================================== =============
       Section Color
=========================================================*/
.menu-item{
  color: $purple;
}
.purple-section{
  background-color: $purple;
  color: $white;
}
.grey-section{
  background-color: $grey-light;
}
.green-section{
  background-color: $green;
}
.pink-section{
  background-color:$pink;
}
.white-text{
  color:$white
}
.primary-color{
  color: $purple;
}

/*=========================================== =============
        Heading and Description
=========================================================*/
.heading{
  color:$purple;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 40px;
  text-shadow: -3px 2px 5px rgba(0, 0, 0, 0.09);
  text-transform: capitalize;
}
.description{
  color: $black;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.87;
}

/*=========================================== =============
        Line Height
=========================================================*/
.line-height{
  line-height: 2.5em;
}
.space{
  margin-bottom: 3rem;
}

/*=========================================== =============
       Alignment
=========================================================*/
.center-align{
  text-align: center;
}
.left-align{
  text-align: left;
}
.section-align-center{
  display: grid;
  place-items: center;
}
.section-align-baseline{
  display: grid;
  place-items: baseline;
}

/*=========================================== =============
       Image
=========================================================*/
.img-fluid{
  max-width: 100%;
  height: auto;
}
.img-height{
  max-height: 125px;
}
/*=========================================== =============
     Icons
=========================================================*/
.paw-icons-parent{
  position: relative;
}
.paw-icon{
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  left: 20px;
  top: 13px;
  z-index: 1;
}
.paw-purple{
  background-color:$white;
  border-radius: 50%;
  height: 33px;
  width: 33px;
  color:$purple
}
.paw-pink{
  background-color:$white;
  border-radius: 50%;
  height: 33px;
  width: 33px;
  color:$pink
}
.paw-green{
  background-color:$white;
  border-radius: 50%;
  height: 33px;
  width: 33px;
  color:$green
}

/*=========================================== =============
       Button
=========================================================*/
.round-btn{
  font-family:'Nunito Sans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: $purple;
  background-color: $white;
  text-transform: capitalize;
  letter-spacing: 0.5px;

  border-width: 3px 3px 3px 3px;
  border-color: $purple;
}
.round-btn:hover{
  color: $white;
  background-color: $purple;
}

/*=========================================== =============
      Card
=========================================================*/
.grey-section{
  .card-radius{
    border-radius: 15px;
    box-shadow: -5px 10px 10px 0px rgb(0 0 0 / 9%);
  }
}


.list-height{
  .v-list-item{
    min-height: 32px;
  }
  .v-list-item__content{
    padding: 0;
  }
}



/*=========================================== =============
     Location Search & cards
=========================================================*/
.search-form-filter{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.search-form-field{
  margin-right: 1rem;
}
.search-form-label{
  text-align: left;
  label{
    font-size: 14px;
    font-weight: 400;
    color: $black;
  }
}
.text-center{
  img{
    max-height: 200px;
  }
  h2{
    margin-bottom: 2rem;
  }
}
.banner-description{
  max-width: 650px;
  margin: auto;
  text-align: center;
  width: 100%;
  line-height: 1.87;
  p{
    font-family: 'Nunito Sans', sans-serif;
    color: $black;
    font-weight: 600;
    font-size: 17px;
  }
}
.search-btn{
  background-color: $blue;
  color: $white;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  font-size: 15px;
  text-transform: capitalize;
  border-radius: 100px 100px 100px 100px;
  padding: 0 50px 0 50px;
  letter-spacing: 0;
}
.custom-card-padding{
  padding: 3rem 0 3rem 0;
}
.card-flex{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.card-flex-rating{
  display: flex;
  align-items: baseline;
}
.card-heading{
  color: $purple;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-style: normal;
}
.card-heading-point{
  padding-left: 2px;
  color: $grey;
  font-size: 15px;
}
.card-description{
  color: $matterhorn;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.87;
  font-family: 'Nunito Sans', sans-serif;
}
.card-img{
  max-height :270px;
  border-radius:10px 10px 0 0;
}
.card-btn{
  padding: 5px 15px 5px 15px;
  color: $white;
  text-transform: capitalize;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 12px;
  letter-spacing: 0;
}
.comment-color{
  cursor: pointer;
  color: $green;
}



