/*=========================================== =============
      Custom
=========================================================*/
*
{box-sizing: border-box}

.custom-container{
  max-width: 1140px;
  margin: auto;
  padding: 0 1rem;
}
.custom-height{
  min-height: 700px;
}
.center-center{
  display: grid;
  place-items: center;
}

.custom-padding{
  padding-top: 5rem;
}

/*=========================================== =============
       Section Color
=========================================================*/

.purple-section{
  background-color: $purple;
  color: $white;
}
.grey-section{
  background-color: $grey-light;
}
.green-section{
  background-color: $green;
}
.pink-section{
  background-color:$pink;
}
//.white-text{
//  color:$white
//}


/*=========================================== =============
        Heading and Description
=========================================================*/
.heading{
  color:$purple;
  font-family: $font-family-primary;
  font-weight: $font-weight-600;
  font-size: $font-size-40;
  text-shadow:-3px 2px 5px  $text-shadow-primary;
  text-transform: $text-transform-capitalize;
}
.description{
  color: $black;
  font-family: $font-family-primary;
  font-weight: $font-weight-600;
  font-size: $font-size-16;
  line-height: 1.87;
}

/*=========================================== =============
        Line Height
=========================================================*/
.line-height{
  line-height: 2.5em;
}
.space{
  margin-bottom: 3rem;
}

/*=========================================== =============
       Alignment
=========================================================*/

.left-align{
  text-align: left;
}
.section-align-center{
  display: grid;
  place-items: center;
}
.section-align-baseline{
  display: grid;
  place-items: baseline;
}

/*=========================================== =============
       Image
=========================================================*/
.img-fluid{
  max-width: 100%;
  height: auto;
}
.img-height{
  max-height: 125px;
}
/*=========================================== =============
     Icons
=========================================================*/
.paw-icons-parent{
  position: relative;
}
.paw-icon{
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  left: 20px;
  top: 13px;
  z-index: 1;
}
.paw{
  background-color:$white;
  border-radius: 50%;
  height: 33px;
  width: 33px;
}
.paw-purple{
  color:$purple
}
.paw-pink{
  color:$pink
}
.paw-green{
  color:$green
}

/*=========================================== =============
       Button
=========================================================*/
.round-btn{
  font-family: $font-family-primary;
  font-weight: $font-weight-600;
  font-size: $font-size-16;
  text-shadow: -3px 2px 5px  $text-shadow-primary;
  text-transform: $text-transform-capitalize;
  color: $purple;
  background-color: $white;
  letter-spacing: 0.5px;
  border-width: 3px 3px 3px 3px;
  border-color: $purple;
}
.round-btn:hover{
  color: $white;
  background-color: $purple;
}

/*=========================================== =============
      Card
=========================================================*/
.grey-section{
  .card-radius{
    border-radius: 15px;
    box-shadow: -5px 10px 10px 0px $text-shadow-primary;
  }
}


.list-height{
  .v-list-item{
    min-height: 32px;
  }
  .v-list-item__content{
    padding: 0;
  }
}



/*=========================================== =============
     Location Search & cards
=========================================================*/
.search-form-filter{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.search-form-field{
  margin-right: 1rem;
  label{
    font-family: $font-family-primary;
    font-size: $font-size-14;
    font-weight: $font-weight-400;
    color: $black;
  }
}
.search-form-label{
  text-align: left;
}

//.text-center{
//  img{
//    max-height: 200px;
//  }
//  h2{
//    margin-bottom: 2rem;
//  }
//}
.banner-description {
  max-width: 650px;
  margin: auto;
  text-align: center;
  width: 100%;
  line-height: 1.87;

  p {
    font-family: $font-family-primary;
    font-size: $font-size-17;
    font-weight: $font-weight-600;
    color: $black;
  }
}

  .search-btn {
    background-color: $blue;
    color: $white;
    font-family: $font-family-primary;
    font-size: $font-size-15;
    font-weight: $font-weight-500;
    text-transform: $text-transform-capitalize;
    border-radius: 100px;
    padding: 0 50px 0 50px;
    letter-spacing: 0;
  }

  .custom-card-padding {
    padding: 3rem 0 3rem 0;
  }

  .card-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .card-flex-rating {
    display: flex;
    align-items: baseline;
  }

  .card-heading {
    color: $purple;
    font-size: $font-size-28;
    font-weight: $font-weight-500;
    line-height: 36px;
    margin-bottom: 10px;
    text-transform: $text-transform-capitalize;
    font-style: normal;
    word-break: break-word;
  }

  .card-heading-point {
    padding-left: 2px;
    color: $grey;
    font-size: $font-size-15;
  }

  .card-description {
    color: $matterhorn;
    font-size: $font-size-15;
    font-weight: $font-weight-700;
    line-height: 1.87;
    font-family: $font-family-primary;
  }

  .card-img {
    max-height: 270px;
    border-radius: 10px 10px 0 0;
  }

  .card-btn {
    padding: 5px 15px 5px 15px;
    color: $white;
    text-transform: $text-transform-capitalize;
    font-family: $font-family-primary;
    font-size: $font-size-12;
    letter-spacing: 0;
  }

  .comment-color {
    cursor: pointer;
    color: $green;
  }


//  google place css
.search-location{
  border: 1px solid  rgba(0, 0, 0, 0.38);
  border-radius: 30px;
  min-height: 48px;
  max-width: 273px;
  box-shadow: unset ;
  font-weight: $font-weight-bold;
  font-family: $font-family-primary;
  background-color: $white;
  padding: 0 24px;
  margin-top: 8px;
  &:focus{
    outline: none !important;
  }
}
//.pac-container.pac-logo{
//  &:after{
//    content: unset;
//  }
//}



