
/*=========================================== =============
     Paw Print
=========================================================*/
.pad {
  width: 25px;
  height: 27px;
  background-color: #00AFAA;
  -webkit-border-radius: 63px 63px 63px 63px / 108px     108px 72px 72px;
  border-radius: 50%  50%  50%  50%  / 60%   60%         40%  40%;
  display: block;
  position: absolute;
}
.large {
  width: 70px;
  height: 72px;
  transform: rotate(80deg);
  left: 100px;
  top: 50px;

}
.small-1 {
  transform: rotate(50deg);
  left: 145px;
  top: 28px;
}
.small-2 {
  transform: rotate(65deg);
  left: 174px;
  top: 50px;
}
.small-3 {
  transform: rotate(98deg);
  position: absolute;
  left: 178px;
  top: 87px;
}
.small-4 {
  transform: rotate(140deg);
  position: absolute;
  left: 158px;
  top: 117px;
}

/* position and animate */

.paw-print-1 {
  opacity: 0;
  position: relative;
  left: 75px;
  top: 300px;
  transform: rotate(-40deg);
  -webkit-animation: walk 3s linear infinite;
  animation: /*keyframe*/walk /*duration*/3s /*transition*/linear /*repeat*/infinite;
}
.paw-print-2 {
  opacity: 0;
  position: relative;
  left: 275px;
  //top: 280px;
  top:175px;
  transform: rotate(-5deg);
  -webkit-animation: walk 3s linear infinite 0.25s;
  animation: walk 3s linear infinite /*delay*/0.25s;
}
.paw-print-3 {
  opacity: 0;
  position: relative;
  //left: 375px;
  //top: 130px;
  left: 389px;
  top: 35px;
  transform: rotate(-10deg);
  -webkit-animation: walk 3s linear infinite 0.5s;
  animation: walk 3s linear infinite 0.5s;
}
.paw-print-4 {
  opacity: 0;
  position: relative;
  left: 575px;
  //top: 280px;
  top: 100px;
  transform: rotate(-20deg);
  -webkit-animation: walk 3s linear infinite 0.75s;
  animation: walk 3s linear infinite 0.75s;
}

/* walking effect animation keyframes */

@-webkit-keyframes walk {
  25%  {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes walk {
  /* appear */
  25% {
    opacity: 1
  }
  /* disappear */
  100% {
    opacity: 0
  }
}
