/*========================================================
        SPACING
=========================================================*/

$spacer: 2.2rem;
$spacer-sm: ($spacer / 2);
$spacer-lg: ($spacer * 2);

/*========================================================
        COLORS
=========================================================*/
$primary: #2ba8f5;
$success: #28c76f;
$danger: #ea5455;
$warning: #ff9f43;
$dark: #1e1e1e;
//$grey: #b8c2cc;
//$cultured: #dae1e7;
$white: #ffffff;


$purple: #332e80;
$pink: #ff8189;
$green: #00afaa;
$mint: #afe2e3;
$puppy-love-pink: #f5c2cb;
$black: #323638;
$cultured:#F7F7F7;
$grey:#535353;
$blue:#270089;
$silver-chalice:#ADADAD;
$matterhorn:#4d4d4d;
$dark-grey:#a7a7a7;
$dark-charcoal: #333333;
$light-charcoal: #33333380;

$mostly-black:#141313;
$cinnabar:#DF4930;
$lavender_gray:#B5B1BD;
$light_gray:#D8D8D8;
$powder_blue:#AFE2E3;

$orange:#FFA800;
$blue_gem:#46259A;
$black_currant:#1E1D1F;
$primary_gray:#878787;
$silver_gray:#C4C4C4;
$gainsboro:#DADADA;
$azure:#F6FEFF;

/*========================================================
        Font Family
=========================================================*/
$font-family-primary : 'Nunito Sans', sans-serif;
$font-family-secondary: 'Poppins', sans-serif;
//$font-family-primary : 'Poppins', sans-serif;


/*========================================================
        Font Size
=========================================================*/
$font-size-67: 67px;
$font-size-65: 65px;
$font-size-60: 60px;
$font-size-55: 55px;
$font-size-51: 51px;
$font-size-50: 50px;
$font-size-45: 45px;
$font-size-40: 40px;
$font-size-35: 35px;
$font-size-32: 32px;
$font-size-30: 30px;
$font-size-28: 28px;
$font-size-24: 24px;
$font-size-22: 22px;
$font-size-25: 25px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-17: 17px;
$font-size-16: 16px;
$font-size-15: 15px;
$font-size-14: 14px;
$font-size-13: 13px;
$font-size-12: 12px;
$font-size-10: 10px;
/*========================================================
        Font Weight
=========================================================*/
$font-weight-bold: bold;
$font-weight-700: 700;
$font-weight-600: 600;
$font-weight-550: 550;
$font-weight-500: 500;
$font-weight-400: 400;
$font-weight-300: 300;
$font-weight-normal: normal;
/*========================================================
        Text-shadow
=========================================================*/
$text-shadow-primary: rgba(0, 0, 0, 0.09);
$text-shadow-secondary:rgba(0, 0, 0, 0.07);
/*========================================================
          Text-Transform
=========================================================*/
$text-transform-capitalize:capitalize;
$text-transform-inherit:inherit;
$text-transform-uppercase:uppercase;
$text-transform-initial:initial;


/*========================================================
        Img Height
=========================================================*/
$img-max-height-580:580px;
$img-max-height-500:500px;
$img-max-height-270:270px;
$img-max-height-255:255px;
$img-max-height-250:250px;
$img-max-height-230:230px;
$img-max-height-220:220px;
$img-max-height-200:200px;
$img-max-height-125:125px;
$img-max-height-120:120px;
$img-max-height-90:90px;
$img-max-height-70:70px;
$img-max-height-60:60px;
$img-max-height-40:40px;

