/*========================================================
        SPACING
=========================================================*/

$spacer: 2.2rem;
$spacer-sm: ($spacer / 2);
$spacer-lg: ($spacer * 2);

/*========================================================
        COLORS
=========================================================*/



$primary: #2ba8f5;
$success: #28c76f;
$danger: #ea5455;
$warning: #ff9f43;
$dark: #1e1e1e;
//$grey: #b8c2cc;
//$grey-light: #dae1e7;
$white: #fff;


$purple: #332e80;
$pink: #ff8189;
$green: #00afaa;
$mint: #afe2e3;
$puppy_love_pink: #f5c2cb;
$black: #323638;
$grey-light:#F7F7F7;
$grey:#535353;
$blue:#270089;
$dark-grey:#ADADAD;
$matterhorn:#4d4d4d;

/*=========================================== =============
        TYPOGRAPHY
=========================================================*/
