/*========================================================
        SPACING
=========================================================*/

$spacer: 2.2rem;
$spacer-sm: ($spacer / 2);
$spacer-lg: ($spacer * 2);

/*========================================================
        COLORS
=========================================================*/

$primary: #2ba8f5;
$success: #28c76f;
$danger: #ea5455;
$warning: #ff9f43;
$dark: #1e1e1e;
$grey: #b8c2cc;
$grey-light: #dae1e7;
$white: #fff;
$black: #22292f;
$purple: #332E80;


$grey-light:#F7F7F7;





$green: #4caf98;
$pink: #ff005f;

/*=========================================== =============
        TYPOGRAPHY
=========================================================*/
