/*========================================================
        Editor data CSS
=========================================================*/
.content-builder-data .container-fluid .row, .content-builder-data .container-fluid div .row {
  padding-top: 10px !important;
  padding-bottom: 10px;
}
.content-builder-data .row img {
  margin: 1.4rem 0 1rem;
}
.content-builder-data .row-tool {
  margin-left: -15px;
}
/**********************************
    General
***********************************/

.content-builder-data {
  margin: 0;
  font-family: $font-family-primary;
  font-size: 100%;
  line-height: 1.7;
  /* font-weight: 300; */
}
img{
  max-width: 100%;
}
h1,h2,h3,h4,h5,h6,p,span,li,td{ font-family: $font-family-primary;}

.content-builder-data p,
.content-builder-data td,
.content-builder-data li,
.content-builder-data label {
  font-family: $font-family-primary ;
  font-size: 1.07rem !important;
  line-height:  2 !important;
  /* font-weight: 300; */
}

.content-builder-data h1,
.content-builder-data h2,
.content-builder-data h3,
.content-builder-data h4,
.content-builder-data h5,
.content-builder-data h6 {
  font-family: $font-family-primary;
  /* font-weight: 300; */
  letter-spacing: 0px;
  line-height: 1.4;
}

.wag-size-48 {font-size:48px}
/* .content-builder-data h1 {font-size: 2.36rem;margin:0.4rem 0;} */
.content-builder-data h2 {font-size: 2rem;margin:0.6rem 0;}
.content-builder-data h3 {font-size: 1.73rem;margin:0.7rem 0;}
.content-builder-data h4 {font-size: 1.6rem;margin:0.8rem 0;}
.content-builder-data h5 {font-size: 1.48rem;margin:0.8rem 0;}
.content-builder-data h6 {font-size: 1.3rem;margin:0.8rem 0;}
.content-builder-data p {margin:1rem 0;}

.content-builder-data .display { margin-bottom: 0.5rem;  }
.content-builder-data .display h1 {
  font-weight: 800;
  font-size: 3rem;
  line-height:1.4;
  text-transform: uppercase;
}
.content-builder-data .display p {
  font-size: 1.3rem;
  font-style: italic;
}

.content-builder-data table td {padding:12px;}

@media all and (max-width: 1024px) {
  .content-builder-data h1 {font-size: 2rem;}
  .content-builder-data h2 {font-size: 1.73rem;}
  .content-builder-data h3 {font-size: 1.6rem;}
  .content-builder-data h4 {font-size: 1.48rem;}
  .content-builder-data h5 {font-size: 1.3rem;font-weight:bold;}
  .content-builder-data h6 {font-size: 1rem;font-weight:bold;}
  .content-builder-data .display h1 { font-size: 2.2rem; }
  .content-builder-data .display p { font-size: 1.1rem; }
}

/* FIX: Preventing Chrome from wrapping text with span-style (during editing) */
.content-builder-data .display h1 span {font-size: inherit;line-height:inherit;}
.content-builder-data .display p span {font-size: inherit;line-height:inherit;}
.content-builder-data h1 span {font-size: inherit;line-height:inherit;}
.content-builder-data h2 span {font-size: inherit;line-height:inherit;}
.content-builder-data h3 span {font-size: inherit;line-height:inherit;}
.content-builder-data h4 span {font-size: inherit;line-height:inherit;}
.content-builder-data h5 span {font-size: inherit;line-height:inherit;}
.content-builder-data h6 span {font-size: inherit;line-height:inherit;}
.content-builder-data p span {font-size: inherit; line-height:inherit;}
.content-builder-data li span {font-size: inherit; line-height:inherit;}

.content-builder-data a {
  color: rgba(33, 191, 191) !important;
  display: initial;
  text-decoration: none;
}
.content-builder-data a:hover {
  color: rgb(16 158 158);
}

.btn-primary {
  color: $white !important;
  background-color: rgba(33, 191, 191) !important;
  border-color: rgba(33, 191, 191) !important;
}
.btn-primary:hover {
  color: $white !important;
  background-color: rgba(33, 191, 191) !important;
  border-color: rgba(33, 191, 191) !important;
}
.btn-default{
  border-color: rgba(33, 191, 191) !important;
  background: rgba(33, 191, 191) !important;
  color: $white !important;
}

.is-btn:hover
{
  color: $white;
}
// Button sizes
.btn-lg{
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  text-decoration: none;
}



.wagdt-blog-btn{
  word-break: break-word;
  padding: 8px 15px !important;
  /* height: 45px !important; */
  min-width: 160px !important;
  display: inline-flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 100px !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  color: #fff !important;
  border: none !important;
  text-transform: uppercase !important;
}
.content-builder-data hr {border:none;border-top: rgba(0, 0, 0, 0.18) 1px solid;margin: 2rem 0 !important;}
.content-builder-data img {max-width:100%;}
.content-builder-data figure {margin:0}
.content-builder-data ol, .content-builder-data ul {line-height: inherit; font-weight: inherit;}
.link-tag{
  color: #6665FF !important;
}



.wagdt-inner-paragraph{
  padding-top: 10px;
  padding-bottom: 20px;
  /*p{
      font-size: 16px;
      font-family: $nunitoSans;
      color: #333333;
      margin-bottom: 30px;
      line-height: 25px;
  }*/
  .watch-andlearn-details{
    color: #333333;
    ul{
      margin-block-start: 1em !important;
      margin-block-end: 1em !important;
      margin-inline-start: 0px !important;
      margin-inline-end: 0px !important;
      padding-inline-start: 40px !important;
      line-height: unset !important;
      list-style-type: unset !important;
    }
  }
  /*span{
      .row{
         margin: 25px 0;
      }
  }*/
  .content-builder-data{
    .row{
      margin-right: 0;
      margin-left: 0;
    }
  }
}


// Credit: Nicolas Gallagher and SUIT CSS.

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;

  &::before {
    display: block;
    content: "";
  }

  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.embed-responsive {position: relative;display:block;height:0;padding:0;overflow:hidden;margin-top: 1.4em;margin-bottom: 1em;}
.embed-responsive.embed-responsive-16by9 {padding-bottom: 56.25%;}
.embed-responsive.embed-responsive-4by3 {padding-bottom: 75%;}
.embed-responsive iframe {position: absolute;top:0;bottom:0;left:0;width:100%;height:100%;border:0;}
